.config {
    position: fixed;
    z-index: 2;
    bottom: 2rem;
    right: 7vw;
    width: auto;
    aspect-ratio: 1/1;
    background-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-family: var(--font-config);
    overflow-y: hidden;
}

.config:hover {
    cursor: pointer;
}

.config-section {
    position: absolute;
    bottom: 7vw;
    right: 10vw;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    min-width: max-content;
    background-color: transparent;
}

.config > i {
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 4vw;
    transition: animation 1s ease forwards;
    -webkit-transition: animation 1s ease forwards;
    -moz-transition: animation 1s ease forwards;
    -ms-transition: animation 1s ease forwards;
    -o-transition: animation 1s ease forwards;
}

.theme-dark .config > i {
    color: var(--light-color);
    text-shadow: 1px 1px white -1px -1px black;
}

.theme-light .config > i {
    color: var(--steel-color);
    text-shadow: 1px 1px black, -1px -1px black;
}

.config > i:hover {
    animation: rotate 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-animation: rotate 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes rotate {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}
