main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 100vw;
    min-height: 100vh;
    padding-top: 12vh;
    font-family: var(--font-main);
    overflow-x: visible;
    position: relative;
}

main > *::selection {
    background-color: inherit;
}

.theme-light main > h2 {
    color: var(--dark-color-main-selection);
}

.theme-dark main > h2 {
    color: var(--light-color-main-selection);
}

h1::selection {
    color: black;
}

.theme-dark h1 {
    color: var(--link-dark-color);
}

.theme-light h1 {
    color: var(--link-light-color);
}

h1 {
    cursor: pointer;
    font-weight: 400;
}

h1::selection {
    text-shadow: -1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff,
        1px 1px #f3f3f2, 2px 2px #6ac7c2, -2px -2px #ff0468;
    box-shadow: 0px 10px 0px 1px rgba(0, 0, 0, 0.75);
}

main h2 {
    cursor: pointer;
}

#topicId {
    width: 0;
    height: 0;
    opacity: 0;
}

.presentation,
.topic {
    padding: 15px;
    text-align: center;
    height: 100%;
    min-height: 100vh;
}

.presentation > *,
.topic > * {
    margin-bottom: 20px;
}

.presentation {
    background-color: rgb(33, 38, 44);
    width: 40%;
}

.theme-light .presentation {
    border-right: var(--dark-border-main);
}

.theme-dark .presentation {
    border-right: var(--light-border-main);
}

.presentation * {
    border: none;
}

.topic {
    background-color: rgb(14, 37, 59);
    width: 60%;
}

.presentation p,
.topic p {
    white-space: pre-wrap;
}
