main {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    margin-bottom: 12vh;
    font-family: var(--font-main);
    overflow-x: visible;
    position: relative;
}

main > *::selection {
    background-color: inherit;
}

.theme-light main > h2 {
    color: var(--dark-color-main-selection);
}

.theme-dark main > h2 {
    color: var(--light-color-main-selection);
}

h1::selection {
    color: black;
}

.theme-dark h1 {
    color: var(--link-dark-color);
}

.theme-light h1:hover {
    position: relative;
}

h1 {
    font-weight: 700 !important;
    font-size: 3rem;
    font-weight: 400;
}

h1::selection {
    text-shadow: -2px 2px #ffffff, -2px -2px #ffffff, 2px -2px #ffffff,
        2px 2px #f3f3f2, 4px 4px #08aab6, -4px -4px #ff0468, 5px 5px black,
        -5px -5px black;
    box-shadow: 0px 10px 0px 2px rgba(0, 0, 0, 0.75);
    text-decoration: underline solid;
}

main h2 {
    cursor: pointer;
}

#topicId {
    width: 0;
    height: 0;
    opacity: 0;
}

.presentation,
.topic {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

.topic {
    padding-top: 45px;
}

h1,
.topic h2 {
    margin-bottom: 70px;
}

.presentation {
    width: 40%;
}

.topic {
    width: 60%;
}

.theme-light .presentation {
    background-color: rgb(157, 188, 223) !important;
}

.theme-dark .presentation {
    background-color: rgb(33, 38, 44);
}

.theme-light .topic {
    background-color: rgb(50, 108, 162);
}

.theme-dark .topic {
    background-color: rgb(14, 37, 59);
}

.presentation * {
    border: none;
}

.topic h2 {
    font-size: 5vh;
    color: transparent;
    text-shadow: 0 0 #198ab7;
}

.theme-light .topic h2 {
    text-shadow: 0 0 #042b3a;
}

.presentation p,
.topic p {
    white-space: pre-wrap;
    text-align: justify;
}

.p-presentation {
    padding-left: 2vw;
}

.presentation .content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 15px;
}

.presentation .content .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15rem;
    height: 18vw;
}

.container-photo {
    width: 15vw;
    aspect-ratio: 0.8/1;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 7px 10px 15px 0 rgb(31, 50, 68);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.container-photo:not(:hover) {
    filter: contrast(1.2);
    -webkit-filter: contrast(1.2);
}

.container-photo:hover {
    filter: contrast(1.2) blur(0.8px) grayscale(40%) opacity(0.9);
    -webkit-filter: contrast(1.2) blur(0.8px) grayscale(40%) opacity(0.9);
}

.container-photo .profile {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.theme-light .container-photo {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

aside {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    padding: 0 50px;
    margin-top: 90px;
    gap: 50px;
    width: 100%;
}

.container-demo {
    width: 100%;
    aspect-ratio: 1/1;
    overflow-y: hidden;
}

.container-demo > img {
    width: 100%;
    height: 100%;
}

.container-demo ~ p {
    margin-top: 30px;
}

.show-height {
    animation: height 1s ease;
    -webkit-animation: height 1s ease;
    height: 100%;
    overflow-y: hidden;
}

.hide-height {
    animation: reverse-height 1s ease;
    -webkit-animation: reverse-height 1s ease;
    height: 0;
    overflow-y: hidden;
}

@keyframes height {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes reverse-height {
    from {
        height: 100%;
    }
    to {
        height: 0;
    }
}

.f-color {
    filter: saturate(1.2);
    -webkit-filter: saturate(1.2);
}

.f-gray {
    filter: grayscale(0.9);
    -webkit-filter: grayscale(0.9);
}
