:root {
    --bg-light-color: #dbdbdb;
    --bg-dark-color: #2e2e2e;
    --light-color: #d7d7d7;
    --dark-color: #272727;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-home {
    width: 100vw;
    min-height: 100vh;
}

.theme-light {
    background-color: var(--bg-light-color);
    color: var(--dark-color);
}

.theme-dark {
    background-color: var(--bg-dark-color);
    color: var(--light-color);
}