form {
    font-size: 2vw;
    min-width: 100vw;
    min-height: 100vh;
    gap: 20px;
}

form > div {
    position: relative;
    z-index: 1;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid gray;
}

form > div > * {
    gap: 20px;
    border: none;
}

form > div > label,
form > div > p {
    color: gray;
}

input {
    text-align: center;
    font-size: 3vw;
    border: 1px solid gray;
    outline: none;
    width: 100%;
}
