header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: medium;
    width: 100%;
    font-family: var(--font-header);
    overflow-y: hidden;
    padding: 10px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

header:hover {
    height: 14vh;
    min-height: 14vh;
}

header:not(:hover) {
    min-height: 5px;
    height: 5px;
    background-color: transparent;
}

.theme-light header {
    background-color: var(--light-bg-color-header-and-footer);
    border-bottom: var(--light-border-header-and-footer);
}

.theme-dark header {
    background-color: var(--dark-bg-color-header-and-footer);
    border-bottom: var(--dark-border-header-and-footer);
}

header > ul,
header > ul > li {
    border-bottom: none;
    background-color: transparent;
}

ul {
    width: 100%;
    min-height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.menu-mobile {
    display: none;
}

@media screen and (max-width: 900px) {
    .menu-mobile {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
    }
    header {
        height: auto;
    }
    i{
        position: fixed;
        z-index: 5;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    header {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header:hover {
        flex-direction: row;
    }

    header:not(:hover) {
        min-height: 0;
        height: 0;
        flex-direction: column;
    }
    header * {
        overflow-y: hidden;
    }
}

li {
    list-style: none;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 4vh;
    font-weight: 700;
    transition: color 1s ease-in-out;
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -ms-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
}

.theme-light li:hover,
.theme-light li:hover::after {
    color: var(--link-light-color);
}

.theme-dark li:hover,
.theme-dark li:hover::after {
    color: var(--link-dark-color);
}

a:hover,
li:hover::after {
    transition: color 1s ease-in-out;
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -ms-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
}

.theme-dark li {
    color: var(--light-color);
}

.theme-light li {
    color: var(--bg-light-color);
}

li h4 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li h4::after {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    height: 0;
    border: 1px solid;
    opacity: 0;
}

li h4:hover::after {
    animation: underline 0.5s ease-in-out forwards;
    -webkit-animation: underline 0.5s ease-in-out forwards;
}

li h4:not(:hover)::after {
    animation: no-underline 0.5s ease-in-out forwards;
    -webkit-animation: no-underline 0.5s ease-in-out forwards;
}

@keyframes underline {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes no-underline {
    0% {
        opacity: 1;
        width: 100%;
    }
    99% {
        opacity: 1;
        width: 0;
    }
    100% {
        opacity: 0;
    }
}
