header {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: medium;
    width: 100%;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

li {
    list-style: none;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li::after {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    height: 0;
    border: 1px solid;
    opacity: 0;
}

li:hover::after {
    animation: underline 0.5s ease-in-out forwards;
    -webkit-animation: underline 0.5s ease-in-out forwards;
}

li:not(:hover)::after {
    animation: no-underline 0.5s ease-in-out forwards;
    -webkit-animation: no-underline 0.5s ease-in-out forwards;
}

@keyframes underline {
    0%{
        opacity: 0;
    }
    1% {
        opacity: 1;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes no-underline {
    0% {
        opacity: 1;
        width: 100%;
    }
    99%{
        opacity: 1;
        width: 0;
    }
    100% {
        opacity: 0;
    }
}
