footer {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    font-family: var(--font-footer);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    overflow-y: hidden;
    transition: height 1s ease-in-out, background-color 1s ease-in-out, min-height 1s ease-in-out;
    -webkit-transition: height 1s ease-in-out, background-color 1s ease-in-out, min-height 1s ease-in-out;
    -moz-transition: height 1s ease-in-out, background-color 1s ease-in-out, min-height 1s ease-in-out;
    -ms-transition: height 1s ease-in-out, background-color 1s ease-in-out, min-height 1s ease-in-out;
    -o-transition: height 1s ease-in-out, background-color 1s ease-in-out, min-height 1s ease-in-out;
}

footer:hover {
    min-height: 15vh;
}

footer:not(:hover) {
    min-height: 5px;
    height: 5px;
    background-color: transparent;
}

footer:not(:hover) > p {
    transition: color 1s ease-in-out;
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -ms-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
}

.theme-light footer {
    background-color: var(--light-bg-color-header-and-footer);
    border-top: var(--light-border-header-and-footer);
}

.theme-dark footer {
    background-color: var(--dark-bg-color-header-and-footer);
    border-top: var(--dark-border-header-and-footer);
}

footer>p {
    font-size: 4vh;
    position: absolute;
    cursor: pointer;
    color: var(--color-footer);
    background-color: transparent;
    text-align: center;
    border: none;
    width: fit-content !important;
    padding: 0 2px;
}

footer>p:hover {
    color: var(--bg-light-color);
}

p::selection {
    background-color: transparent;
    color: white;
    animation: size 1s linear, width 1s ease infinite;
    -webkit-animation: size 1s linear, width 1s ease infinite;
}

@keyframes size {
    to {
        font-size: 5vh;
    }
}

@keyframes width {
    to {
        width: 100%;
    }
}

.show {
    display: block;
    opacity: 1;
    width: 100%;
    z-index: 1;
}

.transparent {
    display: none;
    opacity: 0;
    width: 0;
    z-index: 0;
}