:root {
    --font: "Open Sans", sans-serif;
    --bg-color-main: rgb(29, 38, 47);
    --bg-color-side: rgb(32, 41, 50);
    --text-color-main: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg {
    background-color: var(--bg-color-main);
    color: var(--text-color-main);
    font-family: var(--font);
    text-align: center;
    width: 100vw;
    height: 100vh;
}
